.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.scroll-list{
  max-height: 700px;
  overflow: scroll;
}
.video-item {
  cursor: pointer;
  padding: .75rem 1.25rem;
}
.video-item:hover {
    background-color: #eee;
  }
  .video-item.isActive {
    background: #e8e8e8;
  }
button{
  cursor: pointer;
}
.video-item__left {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}
.video-item__right {
  display: table-cell;
  vertical-align: top;
}
.details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.title{
  font-size: 25px;
}
.embedResponsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

  .embedResponsive__item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .sweet-loading{
    position: absolute;
    top: 200px;
    left:50%;
    margin-left: -50px;
    z-index: 10000;
 
  }
  .body-height{
    min-height: 400px;
  }

  .searchbar-inner{
    display: flex;
    justify-content: space-between;
  }
.searchbar-inner .form-control-lg{
min-width: 420px;
width: 100%;
}
.embedResponsive_16by9 {
  padding-bottom: 55%;
}

